# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# VS user files
*.suo
*.vcxproj.user
*.opensdf
*.sdf

# Build Dirs
bin
build
